/* Global Section */

:root {
    ---primary-color: #000;
    ---secondary-color: #ffff;
    ---tertiary-color: rgb(146, 140, 140);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aright {
    justify-self: right;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Section */

header {
    display: flex;
    text-align: center;
    padding: 20px 35px 0px 35px;
    border: 5px solid var(---primary-color);
    margin: 10px;
}


header a {
    text-decoration: none;
    color: var(---primary-color)
}

nav {
    margin: 7px 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul {
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header li {
    padding: auto 5px;
}

header nav ul li {
    flex-direction: column;
    margin: 10px;
    padding: 10px 35px;
    font-weight: bold;
    font-size: 20px;
}

nav ul li:hover {
    color: var(---tertiary-color);
}

/* Content Section */

.vw {
    width: 100%;
}

.section {
    display: flex;
    padding: 10px;
    margin: 0 auto;
}

.sectionTitle {
    text-align: center;
    border-bottom: 3px solid var(---primary-color);
    padding: 10px;
    margin: 10px;
}

.contentContainer {
    margin: 10px;
    height: 50%;
    width: 45%;
    border: 2px solid black;
    padding: 10px;
    background-color: var(---tertiary-color);

}

.contentTitle {
    font-size: 21px;
    text-align: center;
}

.map {
    margin: 0 auto;
    width: 376px;
    height: 350px;
    align-self: center;
}

.mapContainer {
    align-items: center;
    margin: 10px;
    height: 50%;
    width: 100vw;
    border: 2px solid black;
    padding: 10px;
    background-color: var(---tertiary-color);

}

/* Footer Section */

footer {
    text-align: center;
    margin: 0 auto;
}

footer p {
    margin: 5px;
    color: ---tertiary-color
}

.cr {
    font-weight: bold;
    color: var(---tertiary-color);
}